include mixins/blocks-table
include mixins/trans-table
include mixins/pool-trans-table

include components/head
include components/appbar

div.container-fluid
    div.container
        include components/live

        div.scam.bg-red.fg-white.ani-flash
            span SCAMMER!

        div.hero.hero-padding-secondary
            div.row
                div.cell-lg-6
                    div
                        div.h1.mb-0.page-title Address Overview

                    hr.thin

                    div.h3.mt-2.mb-2
                        span #{addressShort}
                        span.copy-data-to-clipboard.mif-copy.ml-4.c-pointer.text-muted(data-value=address title="Click to copy address to clipboard")

                    div
                        div#address-tags

                div.cell-lg-6
                    div.mb-4
                        include components/search-form

                    div
                        div#address-uptime



div.container-fluid.border-top.border-bottom.bd-system(style="min-height: 70px")
    div.container.pt-4.pb-4
        div.row
            div.cell-xl-3.cell-md-6
                div.text-small.text-bold.m-0.text-muted
                    span ACCOUNT BALANCE

                div.h2.text-normal.mt-0.mb-1
                    div#balance
                        div(data-role="activity" data-type="metro" data-style="color")

            div.cell-xl-3.cell-md-6
                div.text-small.text-bold.m-0.text-muted
                    span MOVABLE BALANCE

                div.h2.text-normal.mt-0.mb-1
                    div#movable-balance
                        div(data-role="activity" data-type="metro" data-style="color")

            div.cell-xl-3.cell-md-6
                div.text-small.text-bold.m-0.text-muted
                    span CURRENT STACK

                div.h2.text-normal.mt-0.mb-1
                    div#stack-current
                        div(data-role="activity" data-type="metro" data-style="color")

            div.cell-xl-3.cell-md-6
                div.text-small.text-bold.m-0.text-muted
                    span NEXT STACK

                div.h2.text-normal.mt-0.mb-1
                    div#stack-next
                        div(data-role="activity" data-type="metro" data-style="color")


section.container-fluid.mt-8
    div.container.pb-10
        ul(data-role="tabs" data-expand-point="md" style="top: 1px")
            li.ml-2
                a(href="#overview") Overview
            li
                a(href="#general") General
            li
                a(href="#trans") Transactions
            li
                a(href="#blocks") Blocks
            li
                a(href="#snarks") Snarks
            li
                a(href="#delegations") Delegations

        div#overview.pt-5

            div.row
                div.cell-xl-3.cell-lg-4.cell-ld-6
                    div.icon-box.border.bd-system.radius
                        div.icon.bg-red.fg-white
                            span.mif-medal
                        div.content.pl-2
                            div.p-2
                                div.text-upper Validator's
                                div.text-upper Pool Fee
                                div#validator-fee.box-value 0

                div.cell-xl-3.cell-lg-4.cell-ld-6
                    div.icon-box.border.bd-system.radius
                        div.icon.bg-grayMouse.fg-white
                            span.mif-apps
                        div.content.pl-2
                            div.p-2
                                div#blocks-cpy(title="Efficiency") 0%
                                div.text-upper Blocks
                                div.text-upper Producing
                                div#blocks_count.box-value 0

                div.cell-xl-3.cell-lg-4.cell-ld-6
                    div.icon-box.border.bd-system.radius
                        div.icon.bg-lightBrown.fg-white
                            span.mif-stack
                        div.content.pl-2
                            div.p-2
                                div#trans-fail(title="Transactions failed") 0
                                div.text-upper Total
                                div.text-upper Transactions
                                div#trans_count.box-value 0

                div.cell-xl-3.cell-lg-4.cell-ld-6
                    div.icon-box.border.bd-system.radius
                        div.icon.bg-green.fg-white
                            span.mif-cog
                        div.content.pl-2
                            div.p-2
                                div.text-upper Snark
                                div.text-upper Jobs
                                div#snark_jobs.box-value 0


            div.mt-10
                div.radius(data-role="panel" data-title-caption="Transaction Pool" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-broadcast mif-3x'></span>")
                    +pool-trans-table("address-pool-trans")

            div.mt-10
                ul(data-role="tabs" data-expand="true")
                    li.ml-2
                        a(href="#last-trans") Last Transactions

                    li
                        a(href="#last-blocks") Last Blocks

                div#last-trans
                    div.radius.mt-4(data-role="panel" data-title-caption="Last 20 Transactions" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-layers mif-3x'></span>")
                        +trans-table("address-last-trans")

                div#last-blocks
                    div.radius.mt-4(data-role="panel" data-title-caption="Last 20 Blocks" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-apps mif-3x'></span>")
                        +blocks-table("address-last-blocks")


        div#general.pt-5

            div.row
                div.cell-lg-6
                    div
                        div.radius(data-role="panel" data-title-caption="General info" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-location-city mif-3x'></span>")
                            table#address-info.table.row-border.mt-2.mb-2
                                tbody
                                    tr
                                        td
                                            div.d-flex.flex-align-center.flex-justify-center
                                                div(data-role="activity" data-type="bars" data-style="color")

                    div.mt-4
                        h4.enlarge-8.text-light Validator Rules
                        div.remark
                            div#validator-rules.text-normal(style="overflow: auto; height: 220px;")


                div.cell-lg-6
                    div
                        div.radius(data-role="panel" data-title-caption="Ledger data" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-book-reference mif-3x'></span>")
                            table#ledger-info.table.row-border.mt-2.mb-2
                                tbody
                                    tr
                                        td
                                            div.d-flex.flex-align-center.flex-justify-center
                                                div(data-role="activity" data-type="bars" data-style="color")


        div#blocks

        div#trans

        div#snarks

        div#delegations

include components/footer

include components/scripts

script.
    globalThis.address = `!{address}`

script
    include ./js/address-info.js

