include mixins/blocks-table

include components/head
include components/appbar

div.container-fluid
    div.container
        include components/live

        div.hero.hero-padding-secondary
            div.row
                div.cell-lg-6
                    div
                        div.h1.mb-0.page-title Addresses

                    hr.thin

                    div.h3.mt-2.mb-2
                        span

                div.cell-lg-6
                    div.mb-4
                        include components/search-form


section.container-fluid
    div.container
        div.radius(data-role="panel" data-title-caption="Scammers List" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-bug mif-3x'></span>")

        div.row.mt-5
            div.cell-xl-6
                div.radius(data-role="panel" data-title-caption="Top Stacks Owners" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-coins mif-3x'></span>")
            div.cell-xl-6
                div.radius(data-role="panel" data-title-caption="Last Blocks Winners" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-medal mif-3x'></span>")

    div.mb-10 &nbsp;

include components/footer

include components/scripts

script
    include ./js/addresses.js

