include mixins/trans-table

include components/head
include components/appbar

div.container-fluid
    div.container
        include components/live

        div.hero.hero-padding-secondary
            div.row
                div.cell-lg-6
                    div
                        div.h1.mb-0.page-title Block Overview

                    hr.thin

                    div.h3.mt-2.mb-2
                        span#block-hash #{hashShort}
                        span.copy-data-to-clipboard.mif-copy.ml-4.c-pointer.text-muted(data-value=hash title="Click to copy hash to clipboard")

                    div
                        div#block-tags

                div.cell-lg-6
                    include components/search-form

                    div.row.mt-2
                        div.cell-4
                            div.text-small.text-bold.m-0.text-muted.text-upper BLOCK HEIGHT
                            div.text-leader.text-normal
                                span#block-height 0

                        div.cell-4
                            div.text-small.text-bold.m-0.text-muted.text-upper BLOCK DATE
                            div.text-leader.text-normal
                                span#block-date 0

                        div.cell-4
                            div.text-small.text-bold.m-0.text-muted.text-upper CHAIN STATUS
                            div.text-leader.text-normal
                                span#chain-status 0


section.container-fluid
    div.container.pb-10
        div.row
            div.cell-xl-6.order-2.order-xl-1
                div.pt-2
                    div.radius(data-role="panel" data-title-caption="Block Participants" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-cog mif-3x'></span>")
                        table#producer-info.table.row-border.mt-2.mb-2
                            tbody

                                tr
                                    td
                                        div.text-small.text-muted.text-bold BLOCK PRODUCER
                                        span#block-producer
                                        span.text-small.text-muted

                                tr
                                    td
                                        div.text-small.text-muted.text-bold COINBASE RECEIVER
                                        span#coinbase-receiver
                                        span.text-small.text-muted
                                tr
                                    td
                                        div.text-small.text-muted.text-bold BLOCK WINNER
                                        span#block-winner
                                        span.text-small.text-muted


            div.cell-xl-6.order-1.order-xl-2
                div.row
                    div.cell-ld-6
                        div.icon-box.border.bd-system.radius
                            div.icon.bg-orange.fg-white
                                span.mif-alarm
                            div.content.pl-2
                                div.p-2
                                    div.text-upper Blockchain
                                    div.text-upper Epoch
                                    div#epoch.box-value 0

                    div.cell-ld-6
                        div.icon-box.border.bd-system.radius
                            div.icon.bg-darkGray.fg-white
                                span.mif-versions
                            div.content.pl-2
                                div.p-2
                                    div.text-upper Production
                                    div.text-upper Slot
                                    div#slot.box-value 0

                    div.cell-ld-6
                        div.icon-box.border.bd-system.radius
                            div.icon.bg-teal.fg-white
                                span.mif-versions
                            div.content.pl-2
                                div.p-2
                                    div.text-upper Global
                                    div.text-upper Slot
                                    div#global-slot.box-value 0

                    div.cell-ld-6
                        div.icon-box.border.bd-system.radius
                            div.icon.bg-lightBrown.fg-white
                                span.mif-stack
                            div.content.pl-2
                                div.p-2
                                    div#trans-fee(title="Transactions Fee") 0
                                    div.text-upper Total
                                    div.text-upper Transactions
                                    div#trans_count.box-value 0


        div
            div.radius.mt-4(data-role="panel" data-title-caption="Block Transactions" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-layers mif-3x'></span>")
                +trans-table("block-trans")

include components/footer
include components/scripts

script.
    globalThis.blockHash = `!{hash}`

script
    include ./js/block-info.js

