doctype html
html.light-theme.scrollbar-type-1.sb-darkViolet

    include components/page-head

    body.m4-cloak.d-flex.flex-column
        include components/appbar

        section.container-fluid.h-100
            div.container.pt-10

                div.d-flex.flex-align-center.flex-justify-center.flex-column
                    div
                        include ./components/eye

                    div.h1.mb-0.page-title.text-center#found-title We found next data by your request:

                div.row.mt-10.mb-10
                    div.cell-md-3
                    div.cell-md-6
                        include components/search-form
                    div.cell-md-3

                div.mb-10
                    table.table.row-border.monospace#search-result
                        tbody


        include components/footer

        include components/scripts


        script
            include ./js/search.js

        script.
            globalThis.searchQuery = `!{query}`



