include mixins/trans-table

doctype html
html.light-theme.scrollbar-type-1.sb-darkViolet

    include components/page-head

    body.m4-cloak.d-flex.flex-column
        include components/appbar

        div.container-fluid
            div.container
                div.scam.bg-red.fg-white.ani-flash
                    span SCAM!

                include components/live

                div.hero.hero-padding-secondary
                    div.row.mt-11-minus.mb-2
                        div.w-100(style='margin-right: 100px;')
                            include components/search-form

                    div.row
                        div.cell-lg-6
                            div.h3.mt-2.mb-2
                                span#trans-hash #{hashShort}
                                span.copy-data-to-clipboard.mif-copy.ml-4.c-pointer.text-muted(data-value=hash title="Click to copy hash to clipboard")

                            div
                                div#trans-tags

                            div.text-small.text-bold.mt-1.text-muted
                                span TRANSACTION DATE

                            div.h2.text-normal.mt-0.mb-1
                                div#trans-date DD, MMM YYYY HH:mm

                        div.cell-lg-6
                            div#trans-block-info(style="display: none")
                                div.text-small.text-bold.mt-2.text-muted.text-upper BLOCK HASH
                                div.text-leader.row.mt-1.mb-1.pl-1
                                    a#block-hash.link
                                    span.copy-data-to-clipboard.mif-copy.ml-4.c-pointer.text-muted(title="Click to copy hash to clipboard")

                                div.row.mt-2
                                    div.cell-4
                                        div.text-small.text-bold.m-0.text-muted.text-upper BLOCK HEIGHT
                                        div.text-leader.text-normal
                                            span#block-height 0

                                    div.cell-4
                                        div.text-small.text-bold.m-0.text-muted.text-upper CONFIRMATION
                                        div.text-leader.text-normal
                                            span#confirmation 0

                                    div.cell-4
                                        div.text-small.text-bold.m-0.text-muted.text-upper GLOBAL SLOT
                                        div.text-leader.text-normal
                                            span#global-slot 0

        div.container-fluid.mb-4.pt-2
            div.container
                div.row.mb-10
                    div.cell-md-6
                        div.radius(data-role="panel" data-title-caption="Transaction Detail" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-layers mif-3x'></span>")
                            table.table.row-border.mt-2.mb-2
                                tbody
                                    tr
                                        td
                                            div.text-small.text-muted.text-bold TRANSACTION AMOUNT
                                            span.enlarge-3#transaction-amount
                                            span.text-small.text-muted MINA
                                    tr
                                        td
                                            div.text-small.text-muted.text-bold TRANSACTION FEE
                                            span.enlarge-3#transaction-fee
                                            span.text-small.text-muted MINA
                                    tr
                                        td
                                            div.text-small.text-muted.text-bold NONCE
                                            span#transaction-nonce
                                            span.text-small.text-muted

                    div.cell-md-6
                        div.radius(data-role="panel" data-title-caption="Transaction Participants" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-users mif-3x'></span>")
                            table#address-info.table.row-border.mt-2.mb-2
                                tbody

                                    tr
                                        td
                                            div.text-small.text-muted.text-bold SENDER
                                            span#transaction-sender
                                            span.text-small.text-muted

                                    tr
                                        td
                                            div.text-small.text-muted.text-bold RECEIVER
                                            span#transaction-receiver
                                            span.text-small.text-muted
                                    tr
                                        td
                                            div.text-small.text-muted.text-bold FEE PAYER
                                            span#transaction-fee-payer
                                            span.text-small.text-muted

                    div.cell-md-6
                        div.mt-4.radius(data-role="panel" data-title-caption="Transaction Memo" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-medium mif-3x'></span>")
                            div.p-2#transaction-memo

                    div.cell-md-6
                        div.mt-4.radius(data-role="panel" data-title-caption="Transaction Description" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light" data-title-icon="<span class='mif-news mif-3x'></span>")
                            div.p-2#transaction-desc


        include components/footer
        include components/scripts

        script.
            globalThis.transactionHash = `!{hash}`

        script
            include ./js/transaction-info.js