section.container-fluid.pos-fixed.fixed-top.z-top.bg-darkViolet.fg-white
    nav.container.pos-relative.bg-darkViolet(data-role="app-bar" data-expand-point="lg")
        span.no-wrap.brand.no-hover
            a.text-bold.fg-white.no-decor(href="/") MINATAUR
            span.text-light &nbsp;&nbsp;-&nbsp; #{appBarTitle}

        ul.app-bar-menu.ml-auto
            li
                a(href="/")
                    span.mif-home
            li
                a(href="/producers") Producers
            li
                a(href="/addresses") Addresses
            li
                a(href="/blocks") Blocks
            li
                a(href="/transactions") Transactions
            li
                a(href="/uptime") Uptime
            //li
            //    a(href="/") Analytics
