div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-grayMouse.fg-white
            span.mif-apps
        div.content.pl-2
            div.p-2
                div.text-upper Block
                div.text-upper Height
                div#height.box-value 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-orange.fg-white
            span.mif-alarm
        div.content.pl-2
            div.p-2
                div.text-upper Current
                div.text-upper Epoch
                div#epoch.box-value 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-darkGray.fg-white
            span.mif-versions
        div.content.pl-2
            div.p-2
                div.text-upper Current
                div.text-upper Slot
                div#slot.box-value 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-teal.fg-white
            span.mif-versions
        div.content.pl-2
            div.p-2
                div.text-upper Global
                div.text-upper Slot
                div#global-slot.box-value 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-lightBrown.fg-white
            span.mif-stack
        div.content.pl-2
            div.p-2
                div.text-upper Total
                div.text-upper Transactions
                div.box-value#total-trans 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-green.fg-white
            span.mif-layers
        div.content.pl-2
            div.p-2
                div.text-upper Applied
                div.text-upper Transactions
                div.box-value#applied-trans 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-red.fg-white
            span.mif-layers-clear
        div.content.pl-2
            div.p-2
                div.text-upper Failed
                div.text-upper Transactions
                div.box-value#failed-trans 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-lime.fg-white
            span.mif-database
        div.content.pl-2
            div.p-2
                div.text-upper Transactions
                div.text-upper In Pool
                div.box-value#pool-trans 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-lightMauve.fg-white
            span.mif-users
        div.content.pl-2
            div.p-2
                div.text-upper Total
                div.text-upper Addresses
                div.box-value#total-addresses 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-cyan.fg-white
            span.mif-organization
        div.content.pl-2
            div.p-2
                div.text-upper Total
                div.text-upper Producers
                div.box-value#total-producers 0

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-grayBlue.fg-white
            span.mif-dollar
        div.content.pl-2
            div.p-2
                div#mina-price-update.text-small.pos-absolute.pos-top-right(style="top: 4px!important; right: 4px!important") DD/MM/YYYY 00:00
                div.text-upper Mina
                div.text-upper Price
                div.box-value
                    span#mina-price 0
                    span#mina-price-currency.ml-1.reduce-4.text-muted.text-upper xxx

div.cell-xl-3.cell-lg-4.cell-ld-6
    div.icon-box.border.bd-system.radius
        div.icon.bg-lightViolet.fg-white
            span.mif-coins
        div.content.pl-2
            div.p-2
                div.text-upper Total
                div.text-upper Supply
                div#mina-total-supply.box-value 0

