div.next-round-container
    div.text-small.text-center
        span.text-bold#current-epoch-number
        span.ml-2 EPOCH END AT
        span.ml-2.text-bold#epoch-stop
    div.mt-3-minus#epoch-timer(data-role="countdown" data-cls-part="text-light" style="font-size: 48px;")
    div.reduce-4.text-bold.text-center EPOCH TIME LEFT
