div.row.text-light.mt-1-minus
    div.cell-sm-4.cell-xl-2
        div.row
            div.mr-2
                span.mif-alarm.mif-4x
            div
                div.text-bold.text-upper.reduce-4 Epoch:
                div.box-value.mt-0#epoch-number 0

    div.cell-sm-4.cell-xl-2
        div.row
            div.mr-2
                span.mif-versions.mif-4x
            div
                div.text-bold.text-upper.reduce-4 Current Slot:
                div.box-value.mt-0#epoch-slot 0

    div.cell-sm-4.cell-xl-2
        div.row
            div.mr-2
                span.mif-earth.mif-3x.mt-1
            div
                div.text-bold.text-upper.reduce-4 Global Slot:
                div.box-value.mt-0#epoch-global-slot 0

    div.cell-sm-4.cell-xl-2
        div.row
            div.mr-2
                span.mif-apps.mif-4x
            div
                div.text-bold.text-upper.reduce-4 Block Height:
                div.box-value.mt-0#epoch-current-height 0

    div.cell-sm-4.cell-xl-2
        div.row
            div.mr-2
                span.mif-cogs.mif-3x.mt-1
            div
                div.text-bold.text-upper.reduce-4 Blocks Produced:
                div.box-value.mt-0#epoch-blocks-produced 0

    div.cell-sm-4.cell-xl-2
        div.row
            div.mr-2
                span.mif-cake.mif-3x.mt-1
            div
                div.text-bold.text-upper.reduce-4 Started from:
                div.box-value.mt-0#epoch-start-block 0
