footer.container-fluid.mt-auto
    div.container
        div.p-10
            div.row.flex-justify-center
                ul.inline-list.reduce-1#social-menu
                    li
                        a(href="https://www.facebook.com/serhii.pimenov")
                            span.mif-facebook

                    li
                        a(href="https://twitter.com/serhii_pimenov")
                            span.mif-twitter

                    li
                        a(href="https://www.youtube.com/channel/UC-AwjNVWxPRJYMG7vpiJnfQ")
                            span.mif-youtube

                    li
                        a(href="https://github.com/olton")
                            span.mif-github

            div.mt-10.text-center Copyright 2022 by
                a.ml-1.fg-white(href="mailto:serhii@pimenov.com.ua") Serhii Pimenov

            div.text-center
                a.m-1.fg-yellow(href="https://minaprotocol.com") Mina Protocol
                span &bull;
                a.m-1.fg-yellow(href="https://github.com/olton/mina-node-monitor") Mina Monitor
                span &bull;
                a.m-1.fg-yellow(href="https://github.com/olton/mina-monitor-cluster") Mina Monitor Cluster

            div.text-center
                span Minataur Block Explorer
                small.ml-1 v#{version}.&nbsp;
                span Built with
                a.ml-1.fg-white(href="https://metroui.org.ua") Metro 4