div.hero
    div.row
        div.cell-lg-6
            div
                div.h1.d-block-sm.d-none-fs
                    div.d-flex.flex-nowrap.flex-align-center
                        span.mr-3.d-block-fs.d-inline-block-md
                            img(src="images/minataur.svg" height="70")
                        img.mb-1(src="images/mina.svg" height="56")
                        div(style="font-size: 70px; height: 85px").fg-red TAUR

                div.h1.d-block-fs.d-none-sm
                    span.text-upper.enlarge-6.d-flex.flex-column.flex-nowrap.flex-align-center
                        span.mt-2-minus.mr-2.d-block-fs.d-inline-block-md
                            img(src="images/minataur.svg" height="70")
                        img.mt-2(src="images/mina.svg" height="56")
                        span.fg-red taur
            div
                div.ml-4.mb-10.text-center-fs.text-left-sm
                    p.h3.text-light The live blockchain explorer for the Mina Blockchain by Serhii Pimenov

        div.cell-lg-6
            include search-form
            div.p-1.border.bd-system.mt-1
                include epoch-countdown

    div.row.mt-10
        include boxes