script.
    globalThis.config = !{clientConfig}

script(src='/vendor/metro4/js/metro.js')
script(src='/vendor/chart/chart.js')
script(src='/js/console.js')
script(src='/js/utils.js')
script(src='/js/websocket.js')
script(src='/js/metro.conf.js')
