script(src='/vendor/metro4/js/metro.js')
script(src='/vendor/chart/chart.min.js')
script(src='/js/console.js')
script(src='/js/utils.js')
script(src='/js/websocket.js')
script(src='/js/metro.conf.js')
