div.bg-white.pt-7.pb-7.pl-2.pr-2
    div
        form(action="javascript:" onsubmit="searchInBlockchain(this.elements[0].value.trim())")
            input.input-large(
                data-role="input"
                placeholder="Search for block, address, transaction, ..."
                data-search-button="true"
                name="search_value"
            )
