section.container-fluid.pos-fixed.fixed-top.z-top.bg-darkViolet.fg-white
    nav.container.pos-relative.bg-darkViolet(data-role="app-bar" data-expand-point="lg")
        a.brand.no-hover.d-flex.flex-align-center
            span.text-bold.no-wrap MINATAUR -&nbsp;
                span.text-light BLOCK EXPLORER

        ul.app-bar-menu.ml-auto
            li
                a(href="/") Home
            li
                a(href="/addresses") Addresses
            li
                a(href="/blocks") Blocks
            li
                a(href="/transactions") Transactions
            li
                a(href="/analytics") Analytics
