div.container-fluid
    div.container
        div.hero.bg-light
            div.row
                div.cell-lg-6
                    div
                        div.h1
                            span.text-upper.enlarge-6.d-flex.flex-nowrap.flex-align-center
                                span.mt-2-minus.mr-2
                                    img(src="images/minataur.svg" height="70")
                                img.mt-2(src="images/mina.svg" height="56")
                                span taur
                    div
                        div.ml-4.mb-10.w-75.h3.text-light The live block explorer for the Mina Blockchain by Serhii Pimenov

                div.cell-lg-6
                    include search

            div.row.mt-10
                include boxes