div.bg-white.p-10.radius.bd-system.border
    div
        input.input-large(data-role="input" data-search-button="true" data-prepend="Search any:" placeholder="Enter block number, address, hash, ...")
        div.mt-2.text-muted(style="line-height: 1") You can search any objects types with this  universal search bar: block by number, block by hash, transactions, addresses, and others stored blockchain objects.
