mixin trans-table(tableId)
    table.table.data-table.row-border.striped.mt-2.mb-2.row-hover.monospace(id=tableId)
        thead
            tr
                th.text-center(style="width: 30px;")
                    span #D
                    div.text-small Dir

                th.text-center(style="width: 30px;")
                    span #S
                    div.text-small State

                th
                    span Hash
                    div.text-small Memo/Type/Date

                th.text-center
                    span Block

                th.text-center
                    span Nonce

                th.text-center
                    span Sent
                    div.text-small from/to

                th.text-center
                    span Amount
                    div.text-small Fee

                th.text-center
                    span Confirm
                    div.text-small Blocks

        tbody
            tr
                td(colspan="9")
                    div.d-flex.flex-align-center.flex-justify-center
                        div(data-role="activity" data-type="bars" data-style="color")
